version: '3.8'

services:
  link-processor:
    build: .
    ports:
      - "10000:8000"
    volumes:
      - ./.env:/app/.env
    restart: unless-stopped
    environment:
      - TZ=UTC
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    restart: unless-stopped
